<p>prueba works!</p>
<lib-lib-genericos></lib-lib-genericos>
<!-- <bar-animation-chart [chartData]="dataBarAnimation" [newOptions]="optionsBarAnimation"></bar-animation-chart>
<polar-punch-card-chart [chartData]="dataPolarPunch" [newOptions] = "optionsPolarPunch"></polar-punch-card-chart>
<multiple-xaxis-chart [chartData] = "dataMultipleAxis" [newOptions] = "optionsMultipleAxis"></multiple-xaxis-chart> -->
<bar-tick-align [chartData] = "barTickAlignChartData" [newOptions] = "newOptionsBarTickAlign"></bar-tick-align>